
<div class="container-md">
	
	<div class="row justify-content-center">
		<div class="col-8">
			<%= render 'shared/errors', obj: @book %>
			<%= form_with(model: @book, class:"p-3 mb-3 bg-info rounded", local:true) do |f|%>
				<div class="row mb-3">
					<%= f.label :"Název knihy", class:"col-2 col-form-label" %>
					<div class="col-10">
					<%= f.text_field :title, class:"form-control"%>
					</div>					
				</div>

				<div class="row mb-3">
					<%= f.label :"Autor", class:"col-2 col-form-label" %>
					<div class="col-10">
					<%= f.collection_select :author_id, Author.all, :id, :name, {prompt: "Vyber jednoho autora"}, class:"form-control" %>
					</div>					
				</div>

				<div class="row mb-3">
					<%= f.label :"Rok", class:"col-2 col-form-label" %>
					<div class="col-3">
					<%= f.text_field :year, class:"form-control"%>
					</div>					
				</div>

				<div class="row mb-3">
					<%= f.label :"Počet stran", class:"col-2 col-form-label" %>
					<div class="col-3">
					<%= f.text_field :pages, class:"form-control"%>
					</div>					
				</div>

			  <div class="row mb-3">
					<%= f.label :"Žánr", class:"col-2 col-form-label" %>
					<div class="col-10">
					<%= f.collection_select :genre_id, Genre.all, :id, :name,{prompt: "Vyber žánr knihy"}, class:"form-control" %>
					</div>			
				</div>

				<div class="row mb-3">
					<%= f.label :"Obal", class:"col-2 col-form-label" %>
					<div class="col-10">
					<%= f.text_field :image, class:"form-control", placeholder:"Vlož odkaz na url obrázku"%>
					</div>					
				</div>


				<div class="row mb-3">
					<%= f.label :"Popis děje", class:"col-2 col-form-label" %>
					<div class="col-10">
					<%= f.text_area :description, class:"form-control", rows:"8" %>
					</div>
				</div>

				<div class="row mb-3 justify-content-center">
					<%= f.submit class:"btn btn-outline-dark btn-md col-2"%>
				</div>
			<% end %>
			<%= link_to '[ Zrušit a vrátit se na přehled knih ]', books_path, class:"text-black" %>
		</div>
		
	</div>
</div>